 body {
     background-color: lightcyan;
     background-image: url("https://static.vecteezy.com/system/resources/previews/075/678/919/non_2x/full-body-illustration-of-luffy-gear-5-good-quality-image-free-png.png");
     background-repeat: no-repeat;
     background-size: 33%;
     background-attachment: fixed;
     background-position: bottom right;
     
 }